
<div class="nav">
    <div class="circulo"></div>
    <div class="div">
     
      <a  routerLink="" (click)="showAlert($event)"> {{ campany }} </a> 
    </div>


    <ul>
        <li *ngFor="let linkNav of link">
            <a [routerLink]="[linkNav]">{{linkNav[0].toUpperCase() + linkNav.slice(1) }}</a>
        </li>

    </ul>
   <!-- <ul>
         <li *ngFor="let linkNav of link">
            <a [routerLink]="[linkNav]">{{linkNav[0].toUpperCase() + linkNav.slice(1) }}</a>
        
         </li>
         
    </ul> -->
   
 
</div>

  
