.body {
    background: url(/assets/maqueta.png) no-repeat;
    background-size: cover;
    font-family: Verdana;

}
.nav a {
    color: #fff;
 	text-decoration: none;
 	float: right;
 	padding: 30px 20px;  
 	display:block;
 	font-family: "Arial";
 	font-size: 31px;
}

.div a {
    color: #fff;
    text-decoration: none;
    float: left;
    left: 0px;
    padding: 25px 0px;
    display:block;
    font-family: "Arial";
    font-size: 15px;
    font-size: 31px;
}

.circulo  {
	list-style:none; 
	padding: 5px 10px;
	float: left;
	/*width: 200px;
	height: 220px;*/
	display: block;
	margin:30px;
	margin-right:13px;
	/*background:#000;*/
	height: 10px;
	border-radius: 100%;
	box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.26);
}