

.btn  {
	position: relative;
	display: inline-block;
	border: 2px solid ; 
	padding: 20px 80px;
	color:#fff;
	font-variant: 700;
	text-transform: uppercase;
	text-decoration: none;
	background: transparent;
	color:#fff;
	border-radius: 30px;
	font-family: "Arial";
    font-size: 22px;
    margin: 10px 30px 10px 500px;

    
}
a {
    text-align: center;
    margin: 55px;
}
h1 {
	font-family: "Arial";
	font-size: 65px;
    color:#fff;
    text-align:center ;
    
}
p {
	font-family: "Arial";
	font-size: 20px;
    color:#fff;
    text-align:center ;
}