
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
    <h1>Modern Landing Page </h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu libero condimentum,
        <br/> viverra odio in, eusimod odio. Praesent pharetra neque, vistae aliquam tortor.
         <br/>Etiam.</p>
  
    <a href="#" class="btn" style="text-align: center;" >GET STARTED</a>
    
    </div>
  